:root {
    --blue: #02b3e4;
    --grey: #88a3b9;
    --black: #2d3c49;
    --deep: #444343;
}


html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;

    width:780px; 
    height:580px;
    background-color: var(--deep) !important;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
}

.container {
    padding: 10px;
}

.toast {
    position: absolute;
    right: 10px;
    top: 10px;

    padding: 10px;
    display: block;
    background: var(--grey);
    border-radius: 2px;

    transition: .25s ease;
}
.toast_hidden {
    visibility: hidden;
    background: var(--deep);
    color: var(--deep);
} 

.timeline__content {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 10px;
    padding: 5px;
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
}

.t1 {
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--grey);
    text-align: center;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.20);
    transition: .25s ease;
    border-radius: 2px;
}

.t1:hover {
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
}

.footer {
    display: inline-block;
    color: white;
    width: 100%;
    border-top: 3px dashed var(--grey);
    font-size: 1.2rem;
}